.sliderContainer {
    background-color: white;
    margin: 0 auto;
    padding: 2em 0 0 0;
    overflow: hidden;
    width: 70%;
    border-bottom: 4px solid #d9d9d9;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.slider {
    background-color: white;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

/* Mobile */
@media screen and (max-width: 440px) {
}
@media screen and (min-width: 441px) and (max-width: 576px) {
}
/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
/* Desktop */
@media screen and (min-width: 1025px) {
}
