:root {
  --background: #ffffff;
  --character-background: #000000;
  --character-text-color: #ffffff;
  --copy-text-color: #171717;
  --marvel-red: #ec1d24;
  --width: 100vw;
}

html,
body {
  width: var(--width);
  overflow-x: hidden;
}

body {
  font-family: "Roboto Light", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: var(--background);
  color: #000000;
  margin: 0;
  padding: 0;
}

.visuallyHidden {
  display: none;
}

.main {
  margin-top: 6em;
}

h1, h2 {
  text-transform: uppercase;
}