.characterListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-inline: 0;
    padding: 0;
    width: 100vw;
    margin: 0;
}

.title {
    padding: 0;
    margin: 3em auto 0 auto;
    width: 91vw;

}

.main {
    margin-top: 10em;
}